<table class="striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Day</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each allSchedules}}
                <tr>
                    <td><a href="" class=""></a>{{first_name}} {{last_name}}</td>
                    <td>{{ showDays day}}</td>
                    <td>{{start_time}} : {{end_time}}</td>
                    <td> <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button> </td>
                </tr>
            {{/each}}
        </tbody>
    </table>